/* @import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&family=Noto+Sans&family=Roboto&display=swap'); */

.container_login {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url('./assets/Group\ 24\ \(1\).png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family:Arial, Helvetica, sans-serif;
}

.login {
    padding: 30px;
    width: 350px;
    height: 510px;
    margin-left: 457px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 150px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(210, 231, 231); /* Fallback color */
    background-color: rgba(250, 248, 248, 0.4); /* Black w/opacity/see-through */
}
input{
    background-color: transparent;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 20px;
    height: 45px;
    width: 290px;
    border-radius: 12px;
    border: 0.5px solid #808080;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.checkbox{
    width: 15px;
}
.checkbox:checked{
    background: linear-gradient(140deg, #ff6a6a 20%, #e6ff59 40%) !important;
}
.login_btn{
    background: linear-gradient(#ACD0FA, #C4B4F1);
    height: 45px;
    border: none;
}
footer{
    width: 300px;
    height: 30px;
    margin-top: 50px;
    box-shadow: 0 2px 4px 0 rgba(119, 119, 119, 0.2), 0 6px 20px 0 rgba(209, 209, 209, 0.19);
    font-family:Arial, Helvetica, sans-serif;
}
footer >p{
    font-size: 12px;
    margin-left: 17px;
    margin-top: 5px;

}
h1{
  display: flex;
  margin-left: 100px;
  padding-top: 250px;
  font-size: 80px !important;
 /* font-family: inter; */
}


